#P3 {
	color: yellow;
}

* {
	font-family: "arial", monospace;
	font-size: 20px;
}

h1 {
	font-size: 40px;
}

#upper_case {
	text-transform: uppercase;
}

.lang_learn {
	background-color: yellowgreen;
}

li[class="border"] {
	border: 2px solid blue;
	border-width: .5px;
}

img + ul {
	list-style: none;
}

section img {
		height: 400px;
		width: 400px;
		border-radius: 200px;
}

h4 ~ p {
	text-align: center;
}

section > ul > li {
	letter-spacing: 5px;
}